[submodule "Introduction_to_CS_I"]
	path = Introduction_to_CS_I
	url = https://github.com/rlaguswo/Introduction-to-CS-I
[submodule "Introduction_to_CS_II"]
	path = Introduction_to_CS_II
	url = https://github.com/rlaguswo/Introduction-to-CS-II
[submodule "Data_Structure"]
	path = Data_Structure
	url = https://github.com/rlaguswo/Data-Structure
[submodule "Theory_of_Computation_Intro"]
	path = Theory_of_Computation_Intro
	url = https://github.com/rlaguswo/Introduction-to-Theory-of-Computation
[submodule "Analysis_of_Algorithm"]
	path = Analysis_of_Algorithm
	url = https://github.com/rlaguswo/Analysis-of-Algorithm
[submodule "CO_and_AL"]
	path = CO_and_AL
	url = https://github.com/rlaguswo/Computer-Organization-Assembly-Language
[submodule "Computer_Networks_Intro"]
	path = Computer_Networks_Intro
	url = https://github.com/rlaguswo/Intro-to-computer-networks
[submodule "AI_Intro"]
	path = AI_Intro
	url = https://github.com/rlaguswo/Intro-to-AI
[submodule "Digital_Design"]
	path = Digital_Design
	url = https://github.com/rlaguswo/Digital-Logic-Design
[submodule "Software_Engineering_I"]
	path = Software_Engineering_I
	url = https://github.com/rlaguswo/Sofware-Engineering-I
[submodule "Software_Engineering_II"]
	path = Software_Engineering_II
	url = https://github.com/rlaguswo/Software-Engineering-II
[submodule "HPC_AI_Seminar"]
	path = HPC_AI_Seminar
	url = https://github.com/rlaguswo/HPC-AI-Seminar
